/** base **/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #fff;
	font-family: 'Montserrat', "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
	font-weight: 300;
}
h1, h2, h3, h4, h5 {
	font-weight: 300;
}
p {
	line-height: 180%;
}
a {
	text-decoration: none;
	color: #1a1a1a;
}
ul, li {
	list-style: none;
}
.container {
	max-width: 1440px;
	width: 85vw;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

/** header **/
.top-header {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	transition: all .2s;
}
.top-header::before{
	content: '';
    display: block;
    position: absolute;
    z-index: 0;
    background-image: url(../img/head-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: calc( 100% - 80px );
    height: 100%;
    top: 0;
    left: 80px;
}
.top-header.bisible {
	position: fixed;
	top: 0;
	left: 0;
}
.in {
	height: 100%;
	position: relative;
}
.logo-symbol {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0px;
	left: 0px;
	transition: all .2s;
}
.logo-typo {
	position: absolute;
	width: 80px;
	height: 30px;
	top: 25px;
	left: 100px;
	transition: all .2s;
}
.logo-symbol img, .logo-typo img {
	width: 100%;
}
nav {
	height: 100%;
	padding-right: 200px;
	transition: all .5s;
}
nav ul {
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

















nav ul li.active::after {
	right: 10px;
}
nav ul li a {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 80px;
	padding: 0 10px;
	height: 100%;
	transition: all .5s;
}
nav ul li a:hover {
	color: #212121;
	background: #edeff1;
}
.toggle,
.toggle span {
  display: inline-block;
}
.toggle {
	position: fixed;
	top: -50px;
	right: 80px;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	cursor: pointer;
	z-index: 3;
	transition: all .2s;
	background: #1C293F;
	opacity: 0;
}
.toggle.bisible {
	top: 15px;
	opacity: 1;
}
.toggle:focus:not(:focus-visible) {
  outline: none;
}
.toggle span {
	position: absolute;
	width: 18px;
	height: 2px;
	background: #fff;
}
.toggle span:nth-of-type(1) {
	top: 18px;
	left: 15px;
	transform-origin: 0 0;
	animation: menu-bar01-close .2s forwards;
}
.toggle span:nth-of-type(2) {
	top: 23px;
	left: 15px;
	transition: .2s;
}
.toggle span:nth-of-type(3) {
	right: 15px;
	bottom: 18px;
	transform-origin: 100% 0;
	animation: menu-bar03-close .2s forwards;
}
.toggle.active span:nth-of-type(1) {
	animation: menu-bar01-open .4s forwards;
}
.toggle.active span:nth-of-type(2) {
	transform: rotate(-45deg);
	transition-delay: .2s;
}
.toggle.active span:nth-of-type(3) {
	animation: menu-bar03-open .4s forwards;
}
@keyframes menu-bar01-open {
	0% {
	  width: 9px;
	  transform: rotate(0deg) translate(0);
	}
	50% {
		width: 9px;
		transform: rotate(0deg) translate(0);
	}
	100% {
		width: 9px;
		transform: rotate(45deg) translate(1px, -3px);
	}
}
@keyframes menu-bar01-close {
	0% {
	  width: 9px;
	  transform: rotate(45deg) translate(0px, 0px);
	}
	100% {
		width: 18px;
		transform: rotate(0deg) translate(0);
	}
}
@keyframes menu-bar03-open {
	0% {
	  width: 9px;
	  transform: rotate(0deg) translate(0);
	}
	50% {
		width: 9px;
		transform: rotate(0deg) translate(0);
	}
	100% {
		width: 9px;
		transform: rotate(45deg) translate(0px, 3px);
	}
}
@keyframes menu-bar03-close {
	0% {
	  width: 9px;
	  transform: rotate(45deg) translate(0px, 0px);
	}
	100% {
		width: 18px;
		transform: rotate(0deg) translate(0);
	}
}
.toggle-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 135px;
	transform: translateY(-110%);
	transition: all .5s;
	background: #1C293F;
	z-index: 2;
	overflow: auto;
 -webkit-overflow-scrolling: touch;
}
.toggle-menu.active {
	transform: translateY(0%);
}
.toggle-menu.active nav.bisible {
	opacity: 1;
}
.toggle-menu.active nav ul li.active::before, .toggle-menu.active nav ul li.active::after {
    background-color: #fff;
}
.toggle-menu.active nav ul li a {
	color: #fff;
}
.contact {
	position: absolute;
	top:14px;
	right: 20px;
	transition: all .2s;
}
.contact a {
	display: block;
	padding: 14px 24px;
	background: #fff;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	color: #C68AA3;
	transition: all .2s;
}
.contact a:hover {
	background: #413D3C;
	color: #fff;
}
@media screen and (max-width: 1199px) {
	.top-header {
		height: 68px;
	}
	.top-header::before{
		width: calc( 100% - 68px );
		left: 68px;
	}
	.logo-symbol {
		width: 68px;
		height: 68px;
	}
	.logo-typo {
		top: 19px;
		left: 88px;
	}





	.head-logo, .head-logo-typo, .head-logo-toggle, .head-logo-toggle.active {
		top: 14px;
	}
	.head-copy {
		top: 66px;
	}
	nav {
		display: none;
	}
	.toggle-menu nav {
		display: block;
		padding: 90px 60px;
	}
	.toggle-menu nav ul {
		height: auto;
	}
	.toggle-menu nav ul li {
		flex-direction: column;
		width: 100%;
		padding: 0;
		margin: 1rem 0;
	}
	.toggle-menu nav ul li a {
		text-align: left;
	}
	.toggle-menu nav .ja{
		display: none;
	}
	.toggle-menu nav .en{
		font-size: 24px;
	}
	.toggle-menu.active nav ul li.active::before, .toggle-menu.active nav ul li.active::after {
		display: none;
	}
	.toggle, .toggle.bisible {
		top: 21px;
		opacity: 1;
	}
	.toggle-menu {
		height: 100%;
	}
}
@media screen and (max-width: 679px) {
	.head-logo, .head-logo-typo, .head-copy, .head-logo-toggle {
		left: 24px;
	}
	.toggle-menu nav {
		padding: 90px 24px;
	}
}

/** main **/
main {
	width: 100%;
	background: hsl(214, 97%, 23%, 0.5);
}
.main_visual_wrap {
	position: relative;
	width: 100%;
	height: 100vh;
	background: hsl(214, 97%, 23%, 0.1);
}
.top-concept {
	width: 100%;
	height: 20vw;
	background: hsl(214, 97%, 23%, 0.2);
}
.service {
	width: 100%;
	height: 30vw;
	background: hsl(214, 97%, 23%, 0.3);
}
.membership {
	width: 100%;
	height: 100vw;
	background: hsl(214, 97%, 23%, 0.4);
}
.area-sec-half-width {
	width: 100%;
	height: 60vw;
	background: hsl(214, 97%, 23%, 0.5);
}
.top_latest_entries {
	width: 100%;
	height: 110vw;
	background: hsl(214, 97%, 23%, 0.6);
}
.top_media {
	width: 100%;
	height: 30vw;
	background: hsl(214, 97%, 23%, 0.7);
}
.sec-campaign {
	width: 100%;
	height: 20vw;
	background: hsl(214, 97%, 23%, 0.8);
}
.sec-trial {
	width: 100%;
	height: 20vw;
	background: hsl(214, 97%, 23%, 0.9);
}

@media screen and (max-width: 979px) {
	.CategoryHeader {
		padding-top: 90px;
	}
}
@media screen and (max-width: 679px) {
}

/** footer **/
footer {
	width: 100%;
	height: 40vw;
	background: #037F8C;
}
